<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sololiving.domain.article.mapper.ArticleMapper">
    <insert id="insertArticle" parameterType="com.sololiving.domain.article.vo.ArticleVo" useGeneratedKeys="true" keyProperty="articleId">
        INSERT INTO ARTICLE (writer, title, content, category_code)
        VALUES (#{writer}, #{title}, #{content}, #{categoryCode})
    </insert>

        <!-- 모든 게시글의 score 컬럼을 업데이트하는 SQL -->
    <update id="updateAllArticleScores">
        UPDATE ARTICLE a
        SET a.score = (
            a.like_cnt * 10 + 
            (SELECT COUNT(*) FROM COMMENT c WHERE c.article_id = a.article_id) * 2
        )
    </update>

</mapper>
