<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sololiving.domain.comment.mapper.CommentMapper">
    <insert id="insertComment" parameterType="com.sololiving.domain.comment.vo.CommentVo">
        INSERT INTO COMMENT (article_id, parent_comment_id, writer, content)
        VALUES (#{articleId}, #{parentCommentId}, #{writer}, #{content})
    </insert>

</mapper>
