<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sololiving.domain.user.mapper.UserMapper">

    <insert id="saveUser" parameterType="com.sololiving.domain.auth.dto.auth.request.SignUpRequestDto">
        INSERT INTO USER (user_id, user_pwd, contact, email, user_type)
        VALUES (#{userId}, #{userPwd}, #{contact}, #{email}, #{userType})
    </insert>

    <select id="findByUserId" parameterType="string" resultType="com.sololiving.domain.vo.UserVo">
        SELECT * FROM USER WHERE user_id = #{userId}
    </select>

</mapper>
