<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sololiving.domain.user.mapper.UserMapper">

    <!--회원가입-->
    <insert id="insertUser" parameterType="com.sololiving.domain.user.vo.UserVo">
        INSERT INTO USER (user_id, user_pwd, oauth2_user_id, nickname, contact, email)
        VALUES (#{userId}, #{userPwd}, #{oauth2UserId}, #{nickname}, #{contact}, #{email})
    </insert>


    <!-- 회원탈퇴 -->
    <delete id="deleteByUserId" parameterType="string">
        DELETE
        FROM USER
        WHERE user_id = #{userId}
    </delete>

    <update id="updateUserLastSignInAt" parameterType="string">
        UPDATE USER
        SET last_sign_in_at = NOW()
        WHERE user_id = #{userId}
    </update>

    <update id="updateUserStatus" parameterType="map">
        UPDATE USER
        SET status = #{status}
        WHERE user_id = #{userId}
    </update>

    <update id="updateUserEmail" parameterType="map">
        UPDATE USER
        SET email = #{email}
        WHERE user_id = #{userId}
    </update>

    <update id="updateUserContact" parameterType="map">
        UPDATE USER
        SET contact = #{contact}
        WHERE user_id = #{userId}
    </update>

    <update id="updateUserNickname" parameterType="map">
        UPDATE USER
        SET nickname = #{nickname}
        WHERE user_id = #{userId}
    </update>

    <update id="updateUserGender" parameterType="map">
        UPDATE USER
        SET gender = #{gender}
        WHERE user_id = #{userId}
    </update>

    <update id="updateUserAddress" parameterType="map">
        UPDATE USER
        SET address = #{address}
        WHERE user_id = #{userId}
    </update>

    <update id="updateUserBirth" parameterType="map">
        UPDATE USER
        SET birth = #{birth}
        WHERE user_id = #{userId}
    </update>

    <update id="updateUserPassword" parameterType="map">
        UPDATE USER
        SET user_pwd = #{password}
        WHERE user_id = #{userId}
    </update>

</mapper>
