|===
    |변수명|데이터타입|설명|필수여부|제약조건

{{#fields}}
    |{{path}}
    |{{type}}
    |{{description}}
    |{{#optional}}Y{{/optional}}
    |{{#constraint}}{{.}}{{/constraint}}

{{/fields}}
|===

|===
    |응답 코드|응답 메시지

{{#fields}}
    |{{code}}
    |{{message}}
{{/fields}}
|===