<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sololiving.global.security.jwt.mapper.RefreshTokenMapper">

    <select id="findRefreshTokenByUserId" resultType="com.sololiving.global.security.jwt.vo.RefreshTokenVo">
        SELECT *
        FROM REFRESH_TOKEN
        WHERE user_id = #{userId}
    </select>

    <insert id="insert" parameterType="com.sololiving.global.security.jwt.vo.RefreshTokenVo">
        INSERT INTO REFRESH_TOKEN (user_id, refresh_token, expires_in, issued_at, token_status, client_id, created_at, updated_at)
        VALUES (#{userId}, #{refreshToken}, #{expiresIn}, #{issuedAt}, #{tokenStatus}, #{clientId}, #{createdAt}, #{updatedAt})
    </insert>

    <update id="update" parameterType="com.sololiving.global.security.jwt.vo.RefreshTokenVo">
        UPDATE REFRESH_TOKEN
        SET refresh_token = #{refreshToken},
            expires_in = #{expiresIn},
            issued_at = #{issuedAt}, 
            token_status = #{tokenStatus},
            updated_at = #{updatedAt}
        WHERE user_id = #{userId}
    </update>

    <delete id="deleteByRefreshToken" parameterType="string">
        DELETE FROM REFRESH_TOKEN 
        WHERE refresh_token = #{refreshToken}
    </delete>

    <select id="existsByUserId" resultType="boolean" parameterType="String">
        SELECT EXISTS(SELECT 1 FROM REFRESH_TOKEN WHERE user_id = #{userId})
    </select>
    
</mapper>
