<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.sololiving.domain.vo.RefreshTokenVo" alias="RefreshTokenVo"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="com.sololiving.domain.auth.enums.handlers.TokenStatusEnumHandler" javaType="com.sololiving.domain.auth.enums.TokenStatus"/>
        <typeHandler handler="com.sololiving.domain.auth.enums.handlers.ClientIdEnumHandler" javaType="com.sololiving.domain.auth.enums.ClientId"/>
    </typeHandlers>

    <mappers>
        <mapper resource="mappers/domain/auth/AuthMapper.xml"/>
        <mapper resource="mappers/domain/auth/RefreshTokenMapper.xml"/>
        <mapper resource="mappers/domain/user/UserMapper.xml"/>
    </mappers>
</configuration>
