<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.sololiving.domain.vo.RefreshTokenVo" alias="RefreshTokenVo"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler javaType="com.sololiving.domain.auth.enums.TokenStatus" handler="com.sololiving.global.handlers.MybatisEnumHandler"/>
        <typeHandler javaType="com.sololiving.domain.auth.enums.ClientId" handler="com.sololiving.global.handlers.MybatisEnumHandler"/>
        <typeHandler javaType="com.sololiving.domain.user.enums.Status" handler="com.sololiving.global.handlers.MybatisEnumHandler"/>
        <typeHandler javaType="com.sololiving.domain.user.enums.Gender" handler="com.sololiving.global.handlers.MybatisEnumHandler"/>
        <typeHandler javaType="com.sololiving.domain.user.enums.UserType" handler="com.sololiving.global.handlers.MybatisEnumHandler"/>
    </typeHandlers>
</configuration>
