<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <div style="max-width: 600px; margin: auto">
      <div
        style="
          background-color: #07cd8b;
          border-bottom: 4px solid #000000;
          color: rgb(234, 236, 238);
          font-size: 28px;
          font-weight: bold;
          padding: 20px 30px;
          text-align: center;
        "
      >
        홀로서기 새로운 이메일 설정 인증
      </div>

      <div
        style="
          font-size: 14px;
          line-height: 133%;
          padding: 30px;
          text-align: center;
        "
      >
        <span>안녕하세요!&nbsp;<b>홀로서기</b> 입니다.</span>
        <br />
        <br />
        <span
          >해당 이메일로 업데이트 하고 싶다면 밑의 수정 확인 버튼을
          클릭해주세요!</span
        >
        <br />
        <br />
        <br />
        <hr />
        <br />
        <br />
        <br />
        <a
          th:href="${data}"
          style="
            display: inline-block;
            background-color: #07cd8b;
            color: white;
            padding: 15px 30px;
            text-decoration: none;
            border-radius: 5px;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
          "
          >이메일 업데이트 확인</a
        >
        <br />
        <br />
        <br />
        <br />
        <hr />
        <br />
        <br />
        <br />
        <span
          >혹시 본인이 요청한 적이 없다면 이 이메일을 폐기해 주시기
          바랍니다.</span
        >
      </div>

      <div
        style="
          background-color: rgb(234, 236, 238);
          border-top: 2px solid rgb(213, 216, 220);
          color: rgb(44, 62, 80);
          font-size: 12px;
          padding: 20px 30px;
          text-align: center;
        "
      >
        <span
          >해당 이메일은 발신 전용 이메일 주소를 사용하여 발송되었고 회신이
          불가합니다. 또한 경우에 따라 이메일 수신을 거부하였어도 이와 상관없이
          발송되는 이메일이 있을 수 있음으로 양지바랍니다.</span
        >
        <br />
        <br />
        <i style="color: rgb(86, 101, 115)"
          >&copy; 2024
          <a href="https://holoseogi.com" style="color: inherit" target="_blank"
            >홀로서기</a
          >
          All Rights Reserved.</i
        >
      </div>
    </div>
  </body>
</html>
