<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sololiving.domain.category.mapper.CategoryMapper">
    <!-- <select id="findCategoryById" resultType="com.sololiving.domain.category.vo.CategoryVo">
        SELECT
            category_id AS categoryId,
            name,
            description,
            manager,
            created_at AS createdAt,
            updated_at AS updatedAt
        FROM
            category
        WHERE
            category_id = #{categoryId}
    </select> -->
</mapper>
